.cloud-1 {
	--cloud-size: 0.3;
	--cloud-time: 60s;
}

.cloud-2 {
	--cloud-size: -0.4, 0.4;
	--cloud-time: 35s;
}

.cloud-3 {
	--cloud-size: 0.5;
	--cloud-time: 25s;
}

.cloud-4 {
	--cloud-size: -0.6, 0.6;
	--cloud-time: 20s;
}

.smoke-1 {
	right: 5vw;
	--smoke-delay: 0s;
}

.smoke-2 {
	right: 5.5vw;
	--smoke-delay: 0.5s;
}

.smoke-3 {
	right: 4vw;
	--smoke-delay: 1s;
}
